body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
				border:0;
				border-collapse:collapse;
				margin:0;
				padding:0;
			}
 
			body {
				background:#5f5f5f;
				font-family:Helvetica, Tahoma, Arial, sans-serif;
			}
 
			#wrapper {
				display:block;
				text-align:center;
			}
 
			.item {
				display:block;
				margin:0 auto;
				font-size:30px;
				color:#e6e6e6;
			}
 
			.item strong, .item strong a {
				color:#fff;
			}
 
			#item-1 {
				width:700px;
				height:339px;
				background:url(img/item-1.jpg) center center no-repeat;
				margin-top:100px;
			}
 
			#item-2 {
				width:700px;
				height:58px;
				background:url(img/item-2.jpg) center center no-repeat;
				margin-top:90px;
			}
 
			#item-3 {
				width:1000px;
				height:526px;
				background:url(img/item-3.jpg) center center no-repeat;
				margin-top:86px;
			}
 
			#item-4 {
				width:740px;
				height:102px;
				background:url(img/item-4.jpg) center center no-repeat;
			}
 
			#item-5 {
				width:1000px;
				height:563px;
				background:url(img/item-5.jpg) center center no-repeat;
				margin-bottom:56px;
			}
 
			#item-6 {
				width:1000px;
				height:261px;
				background:url(img/item-6.jpg) center center no-repeat;
				margin-bottom:70px;
			}
 
			#item-7 {
				width:1000px;
				height:163px;
				background:url(img/item-7.jpg) center center no-repeat;
				margin-bottom:70px;
			}
 
			#item-8 {
				width:1000px;
				height:143px;
				background:url(img/item-8.jpg) center center no-repeat;
				margin-bottom:96px;
			}
 
			#item-9 {
				width:1000px;
				height:115px;
				background:url(img/item-9.jpg) center center no-repeat;
				margin-bottom:96px;
			}
 
			#item-10 {
				width:1000px;
				height:54px;
				background:url(img/item-10.jpg) center center no-repeat;
			}
 
			#item-11 {
				width:700px;
				margin-bottom:80px;
			}
 
 
			#command-line {
				background:#353535 url(img/command-line.png) right top no-repeat;
				display:block;
				height:59px;
				*overflow:hidden;
				width:700px;
			}
 
			#command-line .wrapper {
				display:block;
				height:59px;
				background: url(img/command-line.png) left bottom no-repeat;
			}
 
			#command-line .input .iwrapper input {
				display:block;
				width:435px;
				height:26px;
				padding-top:10px;
				font-size:16px;
				font-family:Helvetica, Arial, sans-serif;
				background: url(img/command-line-input.gif) left -37px repeat-x;
				border:none;
			}
 
			#command-line .input .iwrapper input:focus {
				outline:none;
			}
 
			#command-line .input .iwrapper {
				padding-left:9px;
				background: url(img/command-line-input.png) left bottom no-repeat;
			}
 
			#command-line .input {
				padding-right:9px;
				background: url(img/command-line-input.png) right top no-repeat;
				float:left;
				margin:11px 0 0 11px;
			}
 
			#subscribe {
				display:inline-block;
				zoom:1;
				width:210px;
				height:30px;
				background:url(img/subscribe-button.png) center center no-repeat;
				border:0;
				padding:0;
				margin-top:14px;
				text-align:left;
				cursor:pointer;
				position:relative;
			}
 
			#command-line button span {
				font-size:31px;
				padding-left:30px;
				display:block;
				position:absolute;
				top:0;
				left:0;
				background:url(img/subscribe-icon.png) 8px 7px no-repeat;
			}
 
			#item-13, #item-13 a {
				color:#d2d2d2;
				font-size:12px;
				margin-bottom:52px;
			}
 
			#item-12 {
				margin-bottom:100px;
			}
 
			#command-line button.status-wait span {
				background:url(img/subscribe-ajax.gif) 8px 7px no-repeat;
			}
 
			#command-line button span, x:-moz-any-link, x:default {top:-15px;left:-3px;}
			#command-line button.submited {background:url(img/subscribe-button-okay.png) center center no-repeat;}
			#command-line button.submited span {background: none}
		 

