%h1 Редактировать профиль 
-form_for @user, :url => account_path do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit "Обновить"
%br
= link_to "Мой профиль", account_path

